body {
    background-image: url("../images/sw-background.jpg");
}

.hero {
    /* max-height: 180px !important; */
    margin: 2px;
}

#pick-hero {
    text-align: center;
}

.col {
    text-align: center;
    /* border: 1px black solid; */
}

.card {
    display: inline-block;
    padding: 5px;
    margin: auto;
    border: 1px grey solid;
    width: auto;
}

.card-img-top {
    max-height: 200px;
    max-width: 180px;
}

.container {
    margin-top: 20px;
    border: 2px black dashed;
    background-color: white;
}

h1 {
    border-bottom: 2px black solid;
}

#my-hero {
    border-bottom: 1px black solid;
}
